###rasa_nlu
klein
hyperlink
six
matplotlib
simplejson
cloudpickle


### Sklearn
spacy
sklearn-crfsuite

###rasa_core
## Setup py requirements
jsonpickle
redis
fakeredis
numpy
scipy
typing
ruamel.yaml
requests
tensorflow
apscheduler
tqdm
networkx
fbmessenger
pykwalify
coloredlogs
flask
flask_cors
scikit-learn
rasa_nlu~=0.14.0
slackclient
python-telegram-bot
twilio
webexteamssdk
mattermostwrapper
colorhash
pika
jsonschema
packaging
gevent
pytz
rasa_core_sdk~=0.12.1
pymongo
python-dateutil
rocketchat_API
colorclass
terminaltables
questionary
flask-jwt-simple
python-socketio
pydot
keras-applications
keras-preprocessing
protobuf

###additional
pypandoc
rasa_core
git+https://github.com/apixu/apixu-python.git